.icon-size-1 {
	font-size: 2.0em;
}

@media (min-width: 744px) {
    .sidebar {
        width: 100%;
    }

}

@media (min-width: 744px) {
    .filters {
        right: 0%;
        width: 100%;
    }
    .filters.collapse {
        right: 0%;
        width: 60%;
        /*border-bottom: 0px;*/
    }
    
}


/*photo*/
photo-preview__delete-btn.photo-preview__delete--confirm {
	padding: 5px 10px;
    background-color: #41687F;
    background-color: rgba(255, 0, 0, 0.7);
}

.scope{
	font-size: 44px;
    display: block;
    color: #41687F;
}

/*new*/
.correct {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 45px;
}

.help-soft {
	color: #41687F;
}

.text-logo {
	font-size: 32px;
	font-weight: 700;
}

.text-soft-dark, .icon-soft-dark {
    color: #41687F;
}

.link-soft-dark {
    color: #41687F;
    text-decoration: none;
}

.progress-bar-soft-dark {
    background-color: #41687F;
}


.bg-soft {
    background-color: #00A1FF
}
.bg-soft-dark {
    background-color: #41687F
}


/*btn*/
.btn-soft {
     border-color: #00A1FF;
     background-color: #00A1FF;
     color: #fff;
}
.btn-soft-dark {
     border-color: #41687F;
     background-color: #41687F;
     color: #fff;
}
.btn-som {
     border-color: #FF7F00;
     background-color: #FF7F00;
     color: #fff;
}



/*icon*/
.carhead {
	content: "\f1b9";
	color: gray;
	font-size:23px;
	top: 4px;
	display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: baseline;
}

.airbnb-header .regular-header .comp .header-icon.icon-home-gray {
    background-repeat: no-repeat;
    content: "\f1b9";
    width: 24px;
    height: 24px;
    top: 7px
}
@media (min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6 / 2),
(-webkit-min-device-pixel-ratio: 1.3),
(min-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 13/10),
(min-resolution: 1.3dppx) {
    .airbnb-header .regular-header .comp .header-icon.icon-home-gray {
        content: "\f1b9";
        -webkit-background-size: 24px 24px;
        -moz-background-size: 24px 24px;
        -o-background-size: 24px 24px;
        background-size: 24px 24px
    }
}


.booking-scenario__welcome-customer {
    width: 190px;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(../img/profile.jpg);
    width: 190px;
    height: 142px;
}


/*modal*/
.panel-header {
    color: #484848;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dce0e0;
}

.panel-header:first-child, .panel-body:first-child, ul.panel-body>li:first-child, ol.panel-body>li:first-child, .panel-footer:first-child {
    border-top: 0;
}
.panel-dark, .panel-header {
    background-color: #edefed;
}
.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}

.icon-btn.btn-large .fa {
    position: absolute;
    font-size: 24px;
    left: 40px;
}

.signup-login-form__switch-copy {
    float: left;
    display: inline-block;
    margin-right: 4px;
    line-height: 34px;
    font-size: 16px
}

.signup-login-form__btn-xl {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-weight: normal;
}

.signup-login-form__btn-xl .icon {
    font-size: 18px !important;
    line-height: 50px;
}

.btn-large .fa.fa-facebook {
    margin-right: 13px;
}

.icon-btn.btn-large .icon {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 20px;
}

.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn-facebook {
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
}

.btn-signin {
     border-color: #00A1FF;
     background-color: #00A1FF;
     color: #fff;
}

.signup-or-separator {
    background: none;
    height: 52px;
    position: relative;
    text-align: center
}
.signup-or-separator hr {
    margin: -16px auto 10px;
    width: 100%
}
.signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 6px
}


.decorative-input {
    background-image: url(https://a1.muscache.com/airbnb/static/signinup/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png);
    background-repeat: no-repeat;
    background-position: right 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    height: 40px;
    padding: 10px 35px 10px 10px;
    width: 100% !important;
    -webkit-background-size: 40px 171px;
    -moz-background-size: 40px 171px;
    -o-background-size: 40px 171px;
    background-size: 40px 171px
}
.decorative-input[type=tel] {
    background-position: right -142px
}
.decorative-input[type=email] {
    background-position: right -40px
}
.decorative-input[type=password],
.decorative-input.otp-input,
.decorative-input.recaptcha_response_field {
    background-position: right -90px
}
@media (max-width: 743px) {
    .decorative-input {
        font-size: 16px
    }
}
.ie8 .decorative-input {
    background-image: none
}

.empty_field_to_prevent_auto_fill {
    display: none
}

.signup-login-form__tooltip {
    z-index: 5001
}


/*tooltip*/
.shared-tooltip-styles,
.tooltip {
    z-index: 3000;
    max-width: 280px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: opacity .28s;
    -o-transition: opacity .28s;
    -moz-transition: opacity .28s;
    transition: opacity .28s
}
.shared-tooltip-styles .panel-header,
.tooltip .panel-header,
.shared-tooltip-styles .panel-body,
.tooltip .panel-body,
.shared-tooltip-styles ul.panel-body>li,
.tooltip ul.panel-body>li,
.shared-tooltip-styles ol.panel-body>li,
.tooltip ol.panel-body>li,
.shared-tooltip-styles .panel-footer,
.tooltip .panel-footer {
    padding: 14px
}
.shared-tooltip-styles .panel-body:before,
.tooltip .panel-body:before {
    left: 14px;
    right: 14px
}
.tooltip {
    position: fixed;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s
}
.tooltip[aria-hidden="false"] {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}
.tooltip[aria-hidden="true"] {
    z-index: -1
}
.tooltip[aria-hidden="true"] {
    display: none
}
.tooltip[data-fixed="true"],
.tooltip.tooltip-fixed {
    position: absolute;
    top: 0;
    left: 0
}
.tooltip-layout {
    position: relative;
    top: 0;
    left: 0;
    z-index: auto;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    max-width: none
}
.tooltip-top-left:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 14px;
    bottom: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1)
}
.tooltip-top-left:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 15px;
    bottom: auto;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom-color: #fff
}
.tooltip-top-middle:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    bottom: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1)
}
.tooltip-top-middle:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 50%;
    margin-left: -9px;
    bottom: auto;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom-color: #fff
}
.tooltip-top-right:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 14px;
    bottom: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1)
}
.tooltip-top-right:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -9px;
    right: 15px;
    bottom: auto;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom-color: #fff
}
.tooltip-bottom-left:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 14px;
    top: auto;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.1)
}
.tooltip-bottom-left:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -9px;
    left: 15px;
    top: auto;
    border: 9px solid transparent;
    border-bottom: 0;
    border-top-color: #fff
}
.tooltip-bottom-middle:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    top: auto;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.1)
}
.tooltip-bottom-middle:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -9px;
    top: auto;
    border: 9px solid transparent;
    border-bottom: 0;
    border-top-color: #fff
}
.tooltip-bottom-right:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -10px;
    right: 14px;
    top: auto;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.1)
}
.tooltip-bottom-right:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -9px;
    right: 15px;
    top: auto;
    border: 9px solid transparent;
    border-bottom: 0;
    border-top-color: #fff
}
.tooltip-left-top:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 10px;
    right: auto;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: rgba(0, 0, 0, 0.1)
}
.tooltip-left-top:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 11px;
    right: auto;
    border: 9px solid transparent;
    border-left: 0;
    border-right-color: #fff
}
.tooltip-left-middle:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -10px;
    right: auto;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: rgba(0, 0, 0, 0.1)
}
.tooltip-left-middle:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 50%;
    margin-top: -9px;
    right: auto;
    border: 9px solid transparent;
    border-left: 0;
    border-right-color: #fff
}
.tooltip-left-bottom:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -10px;
    bottom: 10px;
    right: auto;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: rgba(0, 0, 0, 0.1)
}
.tooltip-left-bottom:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    bottom: 11px;
    right: auto;
    border: 9px solid transparent;
    border-left: 0;
    border-right-color: #fff
}
.tooltip-right-top:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 10px;
    left: auto;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color: rgba(0, 0, 0, 0.1)
}
.tooltip-right-top:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 11px;
    left: auto;
    border: 9px solid transparent;
    border-right: 0;
    border-left-color: #fff
}
.tooltip-right-middle:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
    left: auto;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color: rgba(0, 0, 0, 0.1)
}
.tooltip-right-middle:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 50%;
    margin-top: -9px;
    left: auto;
    border: 9px solid transparent;
    border-right: 0;
    border-left-color: #fff
}
.tooltip-right-bottom:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    bottom: 10px;
    left: auto;
    border: 10px solid transparent;
    border-right: 0;
    border-left-color: rgba(0, 0, 0, 0.1)
}
.tooltip-right-bottom:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    bottom: 11px;
    left: auto;
    border: 9px solid transparent;
    border-right: 0;
    border-left-color: #fff
}