table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th{
	background-color: #41687F;
    color: #FFFFFF;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E9E9E9;
}