.actions {
	padding: 0 10px
}
.actions .view-itinerary {
	display: none
}
.actions-wrap {
	padding: 0 20px
}
.action .icon {
	position: relative;
	right: 10px
}
.action .action-text {
	position: relative;
	font-size: 16px
}
.cancel-button:hover {
	text-decoration: underline;
	color: #ff5a5f
}
.cancel-button {
	background: none;
	border: 0;
	outline: none
}
.action-text-alert {
	color: #ff5a5f
}
.btn-contrast-itinerary:active {
	background-color: #ff5a5f
}
.btn-contrast-itinerary:focus {
	background-color: #ff5a5f
}
.card-profile-picture-small img {
	height: 40px;
	width: 40px
}
.card-profile-picture-large img {
	height: 60px;
	width: 60px
}
.booked-for-text {
	margin-left: 5px
}
.media-cover-dark:after {
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"
}
.details {
	padding-bottom: 20px
}
.details .city {
	font-size: 36px
}
.details .city-small {
	font-size: 24px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical
}
.details.show-check-in-out-time {
	padding-bottom: 27px
}
.meta {
	width: 100%;
	height: 100%;
	padding: 20px 320px 0 20px
}
.no-trips .action {
	font-size: 14px;
	font-weight: bold
}
.no-trips .content {
	font-size: 16px;
	width: 450px
}
.no-trips .meta {
	padding: 40px
}
.no-trips .pin {
	width: 300px;
	height: 200px;
	margin: 0
}
.no-trips .title {
	font-size: 40px;
	width: 600px
}
.panel-additional-gap {
	height: 40px
}
.panel-your-trips {
	border: 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-size: 16px;
	margin-top: 20px
}
.pin {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	color: #fff
}
.pin .listing-image-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%
}
.pin .listing-image-container img {
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"
}
.pin .card-profile-picture {
	width: 60px;
	height: 60px
}
.pin .host-name {
	position: relative;
	margin-top: 10px;
	z-index: 100;
	font-size: 18px
}
.pin .action {
	position: relative;
	margin-top: 10px;
	z-index: 100
}
.schedule {
	padding: 0 20px;
	color: #484848
}
.schedule .listing-name:hover {
	color: #ff5a5f
}
.schedule .check-in-out-delimiter {
	padding-top: 1px
}
.schedule .check-in-out-date {
	font-size: 16px;
	padding-bottom: 3px
}
.schedule .check-in-out-time {
	font-size: 11px
}
.shared-trip-one {
	height: 70px;
	padding: 0
}
.shared-trip-one .media-photo {
	position: relative;
	left: 0;
	height: 40px;
	width: 40px
}
.shared-trip-one .action-text {
	color: #484848;
	position: relative;
	top: -30px;
	left: 50px
}
.shared-trip-two {
	display: none
}
.no-trips-img {
	background-image: url(https://a1.muscache.com/airbnb/static/account_activation/promo-c6aa8388b096405e98b4ccbb69cd14f7.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: bottom
}
.btn-invite-friends {
	white-space: normal
}
.no-upcoming-trips-img {
	background-image: url(https://a1.muscache.com/airbnb/static/account_activation/promo-c6aa8388b096405e98b4ccbb69cd14f7.png)
}
.meta-one-trip {
	position: relative;
	top: 230px
}
.panel-body-your-trips {
	padding: 0;
	width: 100%;
	height: auto
}
.panel-body-one-trip {
	padding-bottom: 230px;
	border: 1px #dce0e0 solid !important
}
.row-your-trip {
	margin: 0
}
.your-trips-lower-row {
	padding: 15px 5px
}
.banner {
	position: absolute;
	color: #fff;
	background-color: #28323c;
	background-color: rgba(40, 50, 60, 0.5);
	z-index: 100;
	width: 100%;
	top: -230px;
	padding: 10px
}
.banner .status {
	display: block;
	font-weight: bold
}
.banner.city-host-upsell-banner a:hover b {
	text-decoration: underline
}
@media (min-width: 1128px) {
	.pin.no-trips-img {
		right: 30px
	}
	.current-trips .banner {
		position: relative;
		top: 0;
		padding: 15px 25px;
		font-size: 16px;
		color: #5e5e5e;
		background-color: #dcdcdc;
		line-height: 20px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px
	}
	.current-trips .banner .status {
		padding-right: 10px;
		display: inline
	}
	.current-trips .banner.city-host-upsell-banner {
		background-color: #c2e4e7
	}
	.current-trips .action .icon {
		right: 0
	}
	.current-trips .action .action-text {
		margin-left: 10px
	}
	.current-trips .details {
		padding: 20px 0 60px
	}
	.current-trips .details .schedule .check-in-section {
		padding-left: 0
	}
	.current-trips .details .schedule .check-out-section {
		padding-right: 0;
		text-align: left
	}
	.current-trips .details .schedule .check-in-out-delimiter {
		padding-right: 20px
	}
	.current-trips .details.show-check-in-out-time {
		padding: 20px 0 45px
	}
	.current-trips .meta-one-trip {
		top: 0
	}
	.current-trips .panel-body-one-trip {
		padding-bottom: 0
	}
	.current-trips .actions-wrap {
		border-top: 1px solid #bbb;
		min-height: 70px
	}
	.current-trips .actions-wrap.actions-your-trips {
		margin: 0 15px
	}
	.current-trips .action-link-item {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		max-width: 176px
	}
	.current-trips .your-trips-lower-row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: auto
	}
	.current-trips .your-trips-lower-row-column {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-moz-box-orient: horizontal;
		-moz-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
	.current-trips .actions-your-trips {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 0
	}
	.current-trips .row-your-trip {
		height: auto;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start
	}
}
@media (max-width: 1127px) {
	.action {
		border-top: 1px solid #bbb;
		width: 100%
	}
	.action .icon {
		display: none
	}
	.actions {
		border: 0;
		height: auto
	}
	.actions .view-itinerary {
		display: inline
	}
	.actions-wrap {
		padding: 0 20px;
		height: auto;
		text-align: center
	}
	.details {
		width: 100%
	}
	.details .schedule {
		width: 100%
	}
	.details .schedule .check-in-section {
		padding-right: 0
	}
	.details .schedule .check-out-section {
		padding-left: 0;
		text-align: right
	}
	.details .schedule .check-in-out-delimiter {
		padding-left: 0;
		padding-right: 0
	}
	.details .city-small {
		font-size: 24px;
		-webkit-line-clamp: 2
	}
	.no-trips .content {
		width: auto;
		max-width: 360px;
		margin: auto
	}
	.no-trips .meta {
		padding: 220px 40px 30px
	}
	.no-trips .pin {
		width: 100%
	}
	.no-trips .title {
		font-size: 32px
	}
	.meta {
		text-align: center;
		padding: 0
	}
	.pin {
		width: 100%;
		height: 200px;
		margin: 0
	}
	.pin .card-profile-picture {
		margin-top: 170px
	}
	.pin .host-name {
		display: none
	}
	.pin .action {
		display: none
	}
	.shared-trip-two {
		width: 100%;
		display: block;
		height: auto;
		border-top: 1px solid #bbb
	}
	.shared-trip-two .media-photo {
		height: 40px;
		width: 40px
	}
	.shared-trip-two .action-text {
		margin-top: 10px;
		top: 100px
	}
	.shared-trip-one {
		display: none
	}
	.no-trips-img {
		background-image: url(https://a1.muscache.com/airbnb/static/account_activation/promo-c6aa8388b096405e98b4ccbb69cd14f7.png);
		background-repeat: no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		background-position: center
	}
	.no-upcoming-trips-img {
		background-image: url(https://a1.muscache.com/airbnb/static/account_activation/promo-c6aa8388b096405e98b4ccbb69cd14f7.png)
	}
}
.past-trips .action, .additional-trips .action {
	border-top: 1px solid #bbb;
	width: 100%
}
.past-trips .action .icon, .additional-trips .action .icon {
	display: none
}
.past-trips .actions, .additional-trips .actions {
	border: 0;
	height: auto
}
.past-trips .actions .view-itinerary, .additional-trips .actions .view-itinerary {
	display: none
}
.past-trips .actions-wrap, .additional-trips .actions-wrap {
	padding: 0 20px;
	height: auto;
	text-align: center
}
.past-trips .city-small, .additional-trips .city-small {
	font-size: 24px;
	-webkit-line-clamp: 2
}
.past-trips .details, .additional-trips .details {
	width: 100%
}
.past-trips .details .schedule, .additional-trips .details .schedule {
	width: 100%
}
.past-trips .meta, .additional-trips .meta {
	text-align: center;
	padding: 0
}
.past-trips .panel-body-your-trips, .additional-trips .panel-body-your-trips {
	width: 100%;
	height: auto
}
.past-trips .pin, .additional-trips .pin {
	width: 100%;
	height: 200px;
	margin: 0
}
.past-trips .pin .card-profile-picture, .additional-trips .pin .card-profile-picture {
	margin-top: 170px
}
.past-trips .pin .host-name, .additional-trips .pin .host-name {
	display: none
}
.past-trips .pin .action, .additional-trips .pin .action {
	display: none
}
.past-trips .row-your-trip, .additional-trips .row-your-trip {
	margin: 0
}
.past-trips .shared-trip-two, .additional-trips .shared-trip-two {
	width: 100%;
	display: block;
	padding: 0;
	border-top: 1px solid #bbb
}
.past-trips .shared-trip-two .media-photo, .additional-trips .shared-trip-two .media-photo {
	height: 40px;
	width: 40px
}
.past-trips .shared-trip-two .action-text, .additional-trips .shared-trip-two .action-text {
	margin-top: 10px;
	top: 100px
}
.past-trips .shared-trip-one, .additional-trips .shared-trip-one {
	display: none
}
@media (max-width: 743px) {
	.no-trips .meta {
		padding-left: 20px;
		padding-right: 20px
	}
	.page-container-responsive {
		max-width: 525px
	}
	.no-upcoming-trips-img {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover
	}
}
.view-hide-toggle {
	cursor: pointer;
	font-size: 20px;
	color: #007a87
}
.btn-semi-transparent {
	background: #ff5a5f;
	border-style: none
}
.btn-semi-transparent:hover {
	background-color: #ff5a5f;
	background-color: rgba(255, 90, 95, 0.8)
}
.guest-identity-with-pic > a, .guest-identity-with-pic div {
	vertical-align: middle;
	display: inline-block
}